/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset Meyer */


.clear {
    clear: both;
}


/* Navigation */
.nav-item{
    z-index: 999;
    font-family: 'Ephesis', cursive;
    margin-left: 50px;
    margin-top: 50px;
    letter-spacing: 2px;
}

.navbar-font a{
    font-size: 30px;
}


.top-container{
    min-height: 835px;
    width: 100%;
}
.top-container, .middle-container{
    font-family: 'Poppins', sans-serif;
}


/*effect-underline*/
.nav-item a.effect-underline:after {
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.scale:hover {
    transform: scale(1.2);
}

.git-container{
    text-align: center;
}
.git{
    width: 70%;
}
/* END Navigation */

/* Offcanvas */
.sm-offcanvas{
    display: none;
}
/* end Offcanvas */

/* Header Text in top-container */
.header-1{
    padding-top: 50px;
    margin-right: 90px;
    text-align: right;
    font-size: 45px;
    letter-spacing: 7.5px;
}
.header-2{
    padding-top: 200px;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}
.header-3{
    font-size: 25px;
    color: #00FFF5;
    text-align: center;
}
.header-4{
    font-size: 36px;
    font-weight: 700;
}
/* End Header Text */


/* background-image */
.bg-1{
    background-image: url('../images/bg-1.jpg');
    background-size: cover;
    max-height: 100vh;
    background-attachment: fixed;
}
.bg-2{
    background-image: url('../images/bg-1.jpg');
    background-size: cover;
    background-attachment: fixed;
}
/* end background-image */



.abstract-1{
    position: absolute;
    bottom: 0;
    left: 0;
}
.abstract-2{
    margin-top: -30px;
}
.abstract-2-sm{
    display: none;
}


/* Middle-container-1 */
.middle-container{
    background-color: #131D27;
}
.img-container{
    text-align: center;
    margin: 0px auto 100px;
}
.img-container img{
    width: 40%;
    height: 40%;
}
.text-justify{
    text-align: justify;
    line-height: 25px;
}
.bxs-graduation{
    font-size: 50px;
}

/* End Middle-container-1 */

/* Middle-container-2 */
.middle-container-2{
    height: 100vh;
}
.img-logo{
    width: 48px;
}
/* End Middle-container-2 */












@media only screen and (min-width: 1000.01px) and  (max-width: 1185.01px){
    .navbar-font a{
        font-size: 20px;
    }

}
@media only screen and (max-width: 1000px) {
    .header-1{
        padding-top: 20px;
        font-size: 40px;
    }
    .header-2{
        padding-top: 300px;
        font-size: 25px;
    }
    .header-3{
        font-size: 25px;
        color: #00FFF5;
        transform: rotate(0);
        text-align: center;
    }
    .git-container{
        text-align: left;
    }
    .git{
        width: 10%;
        
    }
    .bg-1, .bg-2{
        background-position: center;
    }
    .abstract-1, .abstract-2 {
        display: none;
    }
    .abstract-2-sm{
        margin-top: -20px;
        margin-left: 15px;
        transform: rotate(4deg);
        display: block;
        text-align: center;
    }
    .sm-offcanvas{
        display:block;
    }
    .navbar{
        display: none;
    }
}


